.container {
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 4px 8px #4d4d4d;
}

.nftForm {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10rem;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(201, 161, 237);
}

.nftForm button {
    width: 8rem;
    border-radius: 8px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(201, 161, 237);
    height: 1.8rem;
    color: #fff;
    text-shadow: 1px 1px 1px blueviolet;
    background-color: tomato;
    cursor: pointer;
    letter-spacing: 0.3rem;
}

.nftForm button:hover {
    width: 8rem;
    border-radius: 8px;
    border: none;
    box-shadow:inset 0.5px 0.5px 0.5px 0.5px rgb(201, 161, 237);
    height: 1.8rem;
    color: aliceblue;
    text-shadow: 1px 1px 1px blueviolet;
    background-color: rgb(250, 90, 65);
    cursor: pointer;
}

.nftForm input[type="text"] {
    width: 18rem;
    height: 2rem;
    caret-shape: block;
    caret-color: blueviolet;
    border-radius: 8px;
    text-indent: 1rem;
    box-shadow:inset 1px 1px 1px 1px rgb(201, 161, 237);
    background: #fff;
    border: none;
}

.nftForm input[type="text"]:focus {
    outline: none;
}

.nftForm label {
    width: 18rem;
    height: 1.5rem;
    text-overflow: ellipsis;
    box-shadow: 1px 1px 1px 1px rgb(201, 161, 237);
    height: 2rem;
    padding: 0.5rem;
    cursor: pointer;
}

.nftForm input[type="file"] {
    position: absolute; 
    left: -99999rem;
}

.nftList {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(201, 161, 237);
}

.nftCard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 19rem;
    gap: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(201, 161, 237);
    border-radius: 3px;
}